<!doctype html>
<html lang="pt-br">
    <link rel="stylesheet" href="\style\bootstrap\css\bootstrap.min.css" >
    <link rel="stylesheet" href="\style\estilo.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="\style\bootstrap\js\bootstrap.min.js" ></script>
    <meta charset="utf-8">

    <head>
        <title>ProcSus</title>


           
    </head>
    <body>

       <div class="row"> 
                <div class="col-md-12 container" style="background-color:#fff">
                    <img src="/Progrinterlogo.png" alt=""/>
                </div>
                
            </div>    
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="color:#809fff">Bem vindo ao sistema de chamados Progrinter!</h2>
                    <h4>1.Selecione seu tipo de Cadastro</h4>
                    <a href="/pessoa/cadastro">
                    <button class="btn btn-success">    
                        Usuário
                   </button>
                    </a>
                    <a href="/pessoa-juridica/cadastro">
                    <button class="btn btn-success">    
                        Empresa
                   </button>
                   </a>
                    <h4>2.Solicite o seu serviço</h4>
                    
                    <h4>3.Receba as Informações de atendimento no seu Email</h4>
                    <br/><br/>
                    <div class="jumbotron container">
                    <h3 style="color:#6db9ae">Já possui cadastro?!</h3>
                    <h4>Não tem problema! Apenas Faça o Login no site e Solicite seu Serviço</h4>
                    <a href="/login">
                    <button class="btn btn-success btn-lg">    
                        Log in
                   </button>
                   </a>
                   </div>
                </div>

            </div>
          

    </body>
</html>