<!doctype html>
<html lang="pt-br">
<link rel="stylesheet" href="\style\bootstrap\css\bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="\style\estilo.css">
<script src="\style\bootstrap\js\bootstrap.min.js"></script>





<meta charset="utf-8">

<head>
    <title>Progrinter</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 container" style="background-color:#fff">
            <img src="/Progrinterlogo.png" alt="" />
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 text-center">
           
            <form>
                <div class="col-md-6">
                <label>Email:</label>
                    <input class="form-control" type="text" name="email"></input>
                  </div>
                  <div class="col-md-6">
                   <label>Senha:</label>
                    <input class="form-control" type="password" name="senha"></input>
                    
                    </div>
                    
                
            </div>
            
        </div>
        <br/>
                    <div class="col-md-12 text-center">
                        <input type="submit" value="login" class="btn btn-success btn-lg"/>
                    </div>
                    
            </form>
    </div>
   



</body>

</html>