<!doctype html>
<html lang="pt-br">
    <link rel="stylesheet" href="\style\bootstrap\css\bootstrap.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\style\estilo.css" >
    <script src="\style\bootstrap\js\bootstrap.min.js" ></script>
    
    
    


    <meta charset="utf-8">
    
    <head>
        <title>Procsus</title>
    </head>
    <body>
            <div class="row">
                <div class="col-md-12 container" style="background-color:#fff">
                <img src="/Progrinterlogo.png" alt=""/>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Crie uma conta para sua empresa!</h2>
                </div>

            </div>
            <form>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label>Nome:</label>
                    <input class="form-control" type="text" name="nome"></input>
                     <div class="clearfix"></div>
                    <label>Email:</label>
                    <input class="form-control" placeholder="exmplo@exemplo.com" type="text" name="email"></input>
                     <div class="clearfix"></div>
                    <label>CNPJ:</label>
                    <input class="form-control" placeholder="xxxxxxxxxxxxxx" type="text" name="cnpj"></input>
                    <label>Endereço:</label>
                    <input class="form-control" type="text" name="endereco"></input>
                </div> 
                <div class="col-md-4"><br/>
                    
                     <div class="clearfix"></div>
                    <label>Cidade:</label>
                    <input class="form-control" type="text" name="cidade"></input>
                     <div class="clearfix"></div>
                    <label>Estado:</label>
                    <input class="form-control" type="text" name="estado"></input>
                    <label>Bairro:</label>
                    <input class="form-control" type="text" name="bairro"></input>
                </div> 
                <div class="col-md-2"></div>
            </div>
                <br/><br/>
            <div class="row">
                
                <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <input type="submit" class="btn btn-success btn-lg" value="Registrar"/><br/><br/>
                        
                    </div>
                <div class="col-md-4"></div>
                
            </div>
            </form>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/home"><button class="btn btn-default">Voltar</button></a>
                </div>    
            </div>
       
        
          

    </body>
</html>